.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-container > div {
  flex: 1;
  padding: 0 10px;
  min-width: 300px;
  max-width: 700px;
  height: 300px;
}
